# dependencies
/node_modules

# testing
/coverage

# production
/build
loaderio-e816772f3a4dd318ba87dfb3584ff687.txt
# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*